/*

Ultra Profile

https://templatemo.com/tm-464-ultra-profile

*/

body {
  background: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #606060;
  position: relative;
}
html, body {
  width: 100%;
  overflow-x: hidden;
}
h1,h2,h3 { font-weight: 300; }
p { line-height: 28px; }
hr {
  border-color: #f2f2f2;
  width: 100px;
  margin-bottom: 40px;
}
.clear{clear: both;}

.title {
  color: #303030;
  font-size: 60px;
  padding-bottom: 40px;
  text-transform: uppercase;
}

/*START LOADER*/
/*
#pre-loader1{
  width: 50%;
  height: 100vh;
  background: blue;
  position: absolute;
  z-index: 100;
  float: left;
  left: 0; 
  top: 0;
  transform: skewX(-20deg);
  display: block;
  margin-top: -100vh;
  transition: all 2s;

}
#pre-loader2{
  width: 50%;
  height: 100vh;
  background: green;
  z-index: 100;
  float: right;
  right: 0;
  transform: skewX(-20deg);
  display: none;
  margin-bottom: -100vh;

}*/

/*END LOADER*/

/* START NAVIGATION */

.motionLine{color: #202020;}

.motionLine::after{
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #eb5424;
  transform: scale(0);
  transition: all .5s;
}

.motionLine:hover::after{
  transform: scale(1);
}

.sticky-navigation { opacity: 0.98; }
.navbar-default {
  background: linear-gradient(#fff, #e3c6ff);
  border: none;
  -webkit-box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
          box-shadow: 0 2px 8px 0 rgba(50, 50, 50, 0.08);
  margin: 0;
  padding: 0;
}
.navbar-default .navbar-brand {
  color: #212227;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  padding: 10px 0 0 12px;
}
.navbar-default .navbar-nav li a {
  color: #202020;
  font-size: 13px;
  font-weight: bold;
  line-height: 45px;
  letter-spacing: 1px;
}
.navbar-default .navbar-nav li a:hover { color: #eb5424; }
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #eb5424;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #eb5424;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border: none;
  padding-top: 10px;
}
.navbar-default .navbar-toggle .icon-bar {
  background: #eb5424;
  border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: transparent }
/* END NAVIGATION */

/* START HOME */
.templatemo-home {
  background: url('../images/home-bg.jpg');
  backface-visibility: 0.5;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  color: #5f5f5f;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;  
  height: 100vh;
}

/*.bg-design{background:  ##433939; opacity: .6;  margin: auto; height: 100%; width: 100%}*/

.tm-home-title,
 .tm-home-subtitle {
  text-transform: uppercase;
 }
 .tm-home-stay{
  color: #eb5424;
  font-weight: bold;
  padding-bottom: 40px;
  letter-spacing: 2px;
 }
.tm-home-title { font-size: 60px; }
.tm-home-subtitle {
  color: #eb5424;
  font-weight: bold;
  padding-bottom: 40px;
  letter-spacing: 2px;
}
.tm-view-more-btn {
  background: #eb5424;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
  padding: 15px 50px;
  -webkit-transition: all 0.6s ease-in;
          transition: all 0.6s ease-in;
}
.tm-view-more-btn:hover {
  background: #ffffff;
  color: #eb5424;
}
/* END HOME */

/* START WORK */
.tm-padding-top-bottom-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.tm-work-h3 {
  color: #eb5424;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  padding-bottom: 2px;
}

/* END WORK */


/* START RESUME */

.tm-resume{background: #e2d4c5}

.resume-ul{padding-left: 20px;
font-weight: bold; }

.resume-ul li{margin-bottom: 30px;}

.download-line{text-align: center;}


.download-cv{background: #eb5424;
  color: #fff ;
  font-size: 20px;
  font-weight: 600;
  margin-top: 30px;
  padding: 10px 20px 10px 20px;
  border-radius: 0px;

}

.download-cv:hover{border: 1px solid #eb5424;
  color: #eb5424 ;
  background: #fff;
}

.tm-red-text { color: #eb5424; }
.tm-info-label {
  font-weight: bold;
  display: inline-block;
  width: 90px;
}
.tm-progress {
  background: #fff;
  border-radius: 2px;
  height: 4px;
}
.progress-bar-danger { background: #eb5424; }
.tm-progress-label {
  font-size: 12px;
  font-weight: bold;
  padding-top: 10px;
  text-transform: uppercase;
}
.progress-percent-small {
  display: block;
  float: right;
  padding-right: 80px;
}
/* END RESUME */

/* START ABOUT */
.tm-about {
  background: url('../images/bg-1234.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  padding-top: 60px;
  padding-bottom: 80px;
}
/* END ABOUT */


/* START CONTACT */

.contact-left p{padding-top: 10px !important;}

.social-row{
  margin-left: 0px !important;
}

.icon-all{width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-right: 10px;
  float: left;

}

.icon-link{color: #fff;
  height: 40px;
  width: 40px;
  margin-top: 10px;
  margin-right: 10px;
  float: left;
  font-size: 32px !important

}

.icon-link:hover{margin-top: 0px;
  color: #ddd
}

.icon-whats:hover{color: #48c857}
.icon-insta:hover{background: linear-gradient(225deg, #9000dc ,#f11d8b,  #fed11b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}
.icon-ln:hover{color: #417dcd}

.back-top{margin-top: 40px; color: #fff; font-size: 32px; height: 60px; }

.top-up{padding-top: 20px;}
.top-up:hover{padding-top: 10px;}



.tm-contact {
  
  padding-top: 80px;
  padding-bottom: 40px;
  background: #000;
  color: #fff;
}
.contact-input{
  background: #262626;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  padding: 25px 25px;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 20px;
  -webkit-transition: all 0.6s ease-in;
          transition: all 0.6s ease-in;
}
.contact-input:focus,
 .contact-input:hover {
  background: #202020;
  color: #ffffff;
}

.contact-input-send{
  background: #262626;
  border: 1px solid #eb5424;
  color: #eb5424;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px 12px;
  height: auto;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 20px;
  -webkit-transition: all 0.6s ease-in;
          transition: all 0.6s ease-in;
  }

.contact-input-send:hover{background: #202020;
  color: #eb5424;
  border: 1px solid #eb5424;
}

input { height: 50px; }
.tm-contact p { padding-top: 40px; }
/* END CONTACT */

@media screen and (max-device-width: 1024px){
  .templatemo-home {
    background-attachment: scroll;
  }
}


@media screen and (max-width: 767px) {
  .tm-home-title { font-size: 40px; }
}

/* START MEDIA 360 */
@media screen and (max-width:360px){
  .navbar-default .navbar-brand {  padding-top: 2px; }
}
/* END MEDIA 360 */
